<div class="content">
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto">
      <div class="card card-upgrade">
        <div class="card-header text-center">
          <h4 class="card-title">Upgrade to PRO</h4>
        </div>
        <div class="card-body">
          <div class="table-upgrade">
            <table class="table">
              <thead>
                  <th></th>
                  <th class="text-center">Free</th>
                  <th class="text-center">PRO</th>
              </thead>
              <tbody>
                <tr>
                  <td>Friends</td>
                  <td class="text-center">5</td>
                  <td class="text-center">15</td>
                </tr>
                <tr>
                    <td>No advertisements</td>
                    <td class="text-center"><i class="far fa-thumbs-down text-danger"></i></td>
                    <td class="text-center"><i class="far fa-thumbs-up text-success"></i></td>
                </tr>
                <tr>
                    <td>Custom tag on staff page</td>
                    <td class="text-center"><i class="far fa-thumbs-down text-danger"></i></td>
                    <td class="text-center"><i class="far fa-thumbs-up text-success"></i></td>
                </tr>
                <tr>
                    <td>Full access to quests</td>
                    <td class="text-center"><i class="far fa-thumbs-down text-danger"></i></td>
                    <td class="text-center"><i class="far fa-thumbs-up text-success"></i></td>
                </tr>
                <tr>
                    <td>Premium Support</td>
                    <td class="text-center"><i class="far fa-thumbs-down text-danger"></i></td>
                    <td class="text-center"><i class="far fa-thumbs-up text-success"></i></td>
                </tr>
                <tr style="background-color:ghostwhite;">
                    <td></td>
                    <td class="text-center" style="color:forestgreen;">Free</td>
                    <td class="text-center" style="color:forestgreen;">5$</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="text-center"><a class="btn btn-round btn-default disabled" style="color:white;">Current Version</a></td>
                    <td class="text-center">
                      <a target="_blank" href="#" class="btn btn-round btn-primary">Upgrade to PRO</a>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
